
* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
	background-image: url(scss/img/background.png);
	background-position: top right ;
	background-size: auto;
	background-repeat: no-repeat;
}


footer{
  height: 47px;
  padding: 0px;
  width: 100%;
  background-color: black;
	display: block;
  position: absolute;
  bottom: 0px;
}

footer a{
  color: white;
  display: inline;
	font-family: 'Montserrat';
	font-size: 16px;
	letter-spacing: 1.71px;
	line-height: 21px;
	font-weight: 200;
}
footer ul{
text-align:center;
padding-top: 10px;
}

footer li{
  list-style-type: none;
   display: inline;
   padding-right: 5px;

}
